<div class="mt-2 d-flex justify-content-center align-items-center">
    <div class="card w-50">
        <div class="card-body">
           
                    <form action="">
                <mat-form-field appearance="outline" class="d-flex">
                    <mat-label>
                         Old Password
                    </mat-label>
                    <input type="text" matInput>
                </mat-form-field>
                <mat-form-field appearance="outline" class="d-flex">
                    <mat-label>
                       New Password
                    </mat-label>
                    <input type="text" matInput>
                </mat-form-field>
                <mat-form-field appearance="outline" class="d-flex">
                    <mat-label>
                        Confirm Password
                    </mat-label>
                    <input type="text" matInput>
                </mat-form-field>
                <button mat-raised-button color="primary">Change</button>
            </form>
                </div>
            
    </div>
</div>